

.carousel-item {
  height: auto;
  aspect-ratio: 16/9; /* Altura fija para cada item del carrusel */
}
.carousel-item img {
  height: 100%; /* Las imágenes ocuparán toda la altura del item */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
}